__pycache__/ 
report/
africa2024_database
africa2024_2_database
africa2024_2_raw_files
africa2024_raw_files
british_database
british_raw_files_clean
lightrag_demo.log
config_wlc.py
*/query_logs/*
*/kv_store_llm_response_cache.json